/*
Plugin Name: Recapture
Plugin URI: http://ben.subparcitizens.net/recapture
Description: Recapture displays a reCAPTCHA on the user registration form in an attempt to combat user registration spam.
Version: 0.2beta
Authors: Ben Masters
Author URI: http://ben.subparcitizens.net/

Contributer: Josh Moles
*/

#login {
width: 480px;
}